/* ABOUT PART */
.ImageContainer {
    position: relative;
    margin: 2rem;
    text-align: center;
    color: white;
}

.Image {
    object-fit: cover;
    object-position: center;
    inset: 0;
    z-index: -10;
    height: 100%;
    max-width: 100%;
    border-radius: 2rem;
    position: absolute;
}

.ST3 {
    /* max-width: 252rem */
    padding: 10rem;
}

.ST2 {
    font-size: 2rem;
}

.ST1 {
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    .ST3 {
        padding: 7rem;
    }
}

@media screen and (min-width: 1076px) {
    .ImageContainer {
        position: relative;
        margin: 2rem;
        text-align: center;
        color: white;
    }

    .Image {
        object-fit: cover;
        object-position: center;
        inset: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        position: absolute;
    }
}