.containerB {
    height: 85vh;
    background-color: white;
    padding: 2rem;
}

.HeadingB {
    font-size: 2rem;
    color: #1e2a54;
    font-weight: 600;
    margin-bottom: 1rem;
}

.taglineB {
    text-align: end;
    margin: 0.5rem;
    color: #1e2a54;
}

.inputsB {
    display: block;
    background-color: #1e2a54;
    color: white;
    padding: 2rem;
    text-align: left;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px #5e5c5c;
}

label {
    font-size: 1.1rem;
    font-weight: 600;
}

.locationB {
    display: block;
    width: 100%;
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
}

.upper-rangeB,
.lower-rangeB {
    width: 8rem;
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
}

.button-submitB {
    font-size: 1.1rem;
    margin: 1rem 0 1rem 0;
}

.button-submitB:hover {
    cursor: pointer;
    background-color: #333;
    color: white;
}

@media screen and (max-width: 280px) {
    label {
        font-size: 1rem;
        font-weight: 600;
    }

    .locationB {
        display: block;
        width: 100%;
        font-size: 0.9rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    .upper-rangeB,
    .lower-rangeB {
        width: 8rem;
        font-size: 0.9rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    .button-submitB {
        font-size: 0.9rem;
        margin: 0.5rem 0 0.5rem 0;
    }
}