/* THIS IS NAVBAR */
.NavbarLinks {
  background-color: #1e2a54;
  /*#002244*/
  padding: .4rem;
  display: flex;
  font-size: 1.2rem;
  overflow: auto;
}

.company {
  text-align: left;
  padding: .4rem;
  margin-left: 1rem;
  font-size: 2.2rem;
  color: white;
}

.split {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  border: 2px solid #1e2a54;
}

.link:hover {
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
}

.HomeLink {
  padding: .3rem;
}

.AboutLink {
  padding: .3rem;
  margin-left: 3rem;
}

.FAQLink {
  padding: .3rem;
  margin-left: 3rem;
}

.mobile-menu-icon {
  display: none;
}

.MenuBar1,
.MenuBar2,
.MenuBar3 {
  width: 1.6rem;
  height: .2rem;
  background-color: white;
  margin: 6px 0;
}

.CrossBar1 {
  width: 1.8rem;
  height: .2rem;
  background-color: white;
  margin: 6px 0;
  transform: translate(1px, 7.5px) rotate(-45deg);
}

.CrossBar2 {
  width: 1.8rem;
  height: .2rem;
  background-color: white;
  margin: 6px 0;
  transform: translate(1px, -1.2px) rotate(45deg);
}

@media screen and (max-width: 780px) {
  .split {
    display: none;
  }

  .link {
    border: none;
  }

  .link:hover {
    border: none;
  }

  .nav-mobile {
    position: absolute;
    display: block;
    background-color: #1e2a54;
    left: 0;
    top: 4.48rem;
    width: 100%;
    z-index: 1;
  }

  .HomeLink,
  .AboutLink,
  .FAQLink {
    padding: 1rem;
    margin: 0;
    text-align: center;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    background-color: #1e2a54;
    border: none;
    outline: none;
    padding: 1rem;
    top: 0.15rem;
    right: 0.7rem;
    cursor: pointer;
  }
}